<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ngReactState - Angular 1 React Hooks State</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="app">

    <p><a href="//github.com/magnumjs/ng-react-state">ngReactState</a> example with straight React inside of Angular</p>
    <p><a href="simple-timer.html">Simple timer</a></p>
    <p><a href="ng-react.html">example using reactState Factory</a> to render React components that can be re-rendered with $scope</p>
    <hr/>


    <div ng-controller="helloController3" ng-cloak>
        <div>User's Token: {{user.token}} {{user.name}}</div>

        <!-- optional directive vs the factory function: $scope.updater = reactState('user', $scope.user) -->
        <react-state name="user"></react-state>


        {{loading?"Loading ...": ""}}
        <button ng-click="test.fun()">Changer</button>
        <button ng-click="updateToken()">Update Token</button>

        <react-component name="WelcomePage"></react-component>
        <react-component name="UserPage"></react-component>

    </div>

    <div ng-controller="helloController1" ng-cloak>
        <div>User's Token: {{user.token}}</div>

        <div id="welcomePage"></div>
        <div id="userPage"></div>
    </div>

</body>
</html>
